.pieces {
    right: 0;
    top: 0;
    position: absolute;
    left: calc(0.0*var(--tile-size));
    bottom: calc(0.0*var(--tile-size));
}

.piece {
    width: 10%;
    height: 10%;
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* .piece.bk {background-image: url('../../../../assets/ducpices/BLACK/bk.png');}
.piece.bq {background-image: url('../../../../assets/ducpices/BLACK/bq2.png');}
.piece.br {background-image: url('../../../../assets/ducpices/BLACK/br2.png');}
.piece.bb {background-image: url('../../../../assets/ducpices/BLACK/bb.png');}
.piece.bn {background-image: url('../../../../assets/ducpices/BLACK/bn.png');}
.piece.bp {background-image: url('../../../../assets/ducpices/BLACK/bp2.png');}
.piece.wk {background-image: url('../../../../assets/ducpices/WHITE/wk.png');}
.piece.wq {background-image: url('../../../../assets/ducpices/WHITE/wq2.png');}
.piece.wr {background-image: url('../../../../assets/ducpices/WHITE/wr2.png');}
.piece.wb {background-image: url('../../../../assets/ducpices/WHITE/wb.png');}
.piece.wn {background-image: url('../../../../assets/ducpices/WHITE/wn.png');}
.piece.wp {background-image: url('../../../../assets/ducpices/WHITE/wp2.png');}
.piece.bm {background-image: url('../../../../assets/ducpices/BLACK/bm.png');}
.piece.wm {background-image: url('../../../../assets/ducpices/WHITE/wm.png');} */

.piece.L-09 {transform: translate(0%,0%);}
.piece.L-19 {transform: translate(100%,0%);}
.piece.L-29 {transform: translate(200%,0%);}
.piece.L-39 {transform: translate(300%,0%);}
.piece.L-49 {transform: translate(400%,0%);}
.piece.L-59 {transform: translate(500%,0%);}
.piece.L-69 {transform: translate(600%,0%);}
.piece.L-79 {transform: translate(700%,0%);}
.piece.L-89 {transform: translate(800%,0%);}
.piece.L-99 {transform: translate(900%,0%);}

.piece.L-08 {transform: translate(0%,100%);}
.piece.L-18 {transform: translate(100%,100%);}
.piece.L-28 {transform: translate(200%,100%);}
.piece.L-38 {transform: translate(300%,100%);}
.piece.L-48 {transform: translate(400%,100%);}
.piece.L-58 {transform: translate(500%,100%);}
.piece.L-68 {transform: translate(600%,100%);}
.piece.L-78 {transform: translate(700%,100%);}
.piece.L-88 {transform: translate(800%,100%);}
.piece.L-98 {transform: translate(900%,100%);}

.piece.L-07 {transform: translate(0%,200%);}
.piece.L-17 {transform: translate(100%,200%);}
.piece.L-27 {transform: translate(200%,200%);}
.piece.L-37 {transform: translate(300%,200%);}
.piece.L-47 {transform: translate(400%,200%);}
.piece.L-57 {transform: translate(500%,200%);}
.piece.L-67 {transform: translate(600%,200%);}
.piece.L-77 {transform: translate(700%,200%);}
.piece.L-87 {transform: translate(800%,200%);}
.piece.L-97 {transform: translate(900%,200%);}

.piece.L-06 {transform: translate(0%,300%);}
.piece.L-16 {transform: translate(100%,300%);}
.piece.L-26 {transform: translate(200%,300%);}
.piece.L-36 {transform: translate(300%,300%);}
.piece.L-46 {transform: translate(400%,300%);}
.piece.L-56 {transform: translate(500%,300%);}
.piece.L-66 {transform: translate(600%,300%);}
.piece.L-76 {transform: translate(700%,300%);}
.piece.L-86 {transform: translate(800%,300%);}
.piece.L-96 {transform: translate(900%,300%);}

.piece.L-05 {transform: translate(0%,400%);}
.piece.L-15 {transform: translate(100%,400%);}
.piece.L-25 {transform: translate(200%,400%);}
.piece.L-35 {transform: translate(300%,400%);}
.piece.L-45 {transform: translate(400%,400%);}
.piece.L-55 {transform: translate(500%,400%);}
.piece.L-65 {transform: translate(600%,400%);}
.piece.L-75 {transform: translate(700%,400%);}
.piece.L-85 {transform: translate(800%,400%);}
.piece.L-95 {transform: translate(900%,400%);}

.piece.L-04 {transform: translate(0%,500%);}
.piece.L-14 {transform: translate(100%,500%);}
.piece.L-24 {transform: translate(200%,500%);}
.piece.L-34 {transform: translate(300%,500%);}
.piece.L-44 {transform: translate(400%,500%);}
.piece.L-54 {transform: translate(500%,500%);}
.piece.L-64 {transform: translate(600%,500%);}
.piece.L-74 {transform: translate(700%,500%);}
.piece.L-84 {transform: translate(800%,500%);}
.piece.L-94 {transform: translate(900%,500%);}

.piece.L-03 {transform: translate(0%,600%);}
.piece.L-13 {transform: translate(100%,600%);}
.piece.L-23 {transform: translate(200%,600%);}
.piece.L-33 {transform: translate(300%,600%);}
.piece.L-43 {transform: translate(400%,600%);}
.piece.L-53 {transform: translate(500%,600%);}
.piece.L-63 {transform: translate(600%,600%);}
.piece.L-73 {transform: translate(700%,600%);}
.piece.L-83 {transform: translate(800%,600%);}
.piece.L-93 {transform: translate(900%,600%);}

.piece.L-02 {transform: translate(0%,700%);}
.piece.L-12 {transform: translate(100%,700%);}
.piece.L-22 {transform: translate(200%,700%);}
.piece.L-32 {transform: translate(300%,700%);}
.piece.L-42 {transform: translate(400%,700%);}
.piece.L-52 {transform: translate(500%,700%);}
.piece.L-62 {transform: translate(600%,700%);}
.piece.L-72 {transform: translate(700%,700%);}
.piece.L-82 {transform: translate(800%,700%);}
.piece.L-92 {transform: translate(900%,700%);}

.piece.L-01 {transform: translate(0%,800%);}
.piece.L-11 {transform: translate(100%,800%);}
.piece.L-21 {transform: translate(200%,800%);}
.piece.L-31 {transform: translate(300%,800%);}
.piece.L-41 {transform: translate(400%,800%);}
.piece.L-51 {transform: translate(500%,800%);}
.piece.L-61 {transform: translate(600%,800%);}
.piece.L-71 {transform: translate(700%,800%);}
.piece.L-81 {transform: translate(800%,800%);}
.piece.L-91 {transform: translate(900%,800%);}

.piece.L-00 {transform: translate(0%,900%);}
.piece.L-10 {transform: translate(100%,900%);}
.piece.L-20 {transform: translate(200%,900%);}
.piece.L-30 {transform: translate(300%,900%);}
.piece.L-40 {transform: translate(400%,900%);}
.piece.L-50 {transform: translate(500%,900%);}
.piece.L-60 {transform: translate(600%,900%);}
.piece.L-70 {transform: translate(700%,900%);}
.piece.L-80 {transform: translate(800%,900%);}
.piece.L-90 {transform: translate(900%,900%);}


