*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    width: 100%;
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.right{
    height: 500px;
    width:50%;
    background-color: chartreuse;

}
.left{
    height: 500px;
    width: 50%;
    background-color: red;

}
.child{
    width: 80%;
    height: 500px;
    background-color: aqua;
    display: flex;
    
}
 h1{
    color: yellow;
}
.left h1:nth-child(1) {
    color:white ;
    margin-top: 30px;
}
.left h1:nth-child(2){
    color: blue;
}
h1:nth-child(3){
    color: blue;
}
.quote_button{
    text-decoration: none;
    background-color: aqua;
    padding: 10px 20px;
    border-radius: 15px;
    display:inline-block;
}
.home_button{
    display: inline-block;
    text-decoration: none;
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    color:blue;
    border-width: 2px;
    border-color: blue;
    border-style: solid;
}
.home_button:hover{
    background-color: rgb(35, 228, 38);
    font-size: 20px;

}
.left_bottom{
    display: flex;
    flex-direction: row;
    padding-left: 20px
}
.left_bottom p:last-child{
    color: white;
    margin-left: 10px;
}
.left_bottom p:last-child i{


    color: yellow;

}




